# .env.example
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APP_URL=https://filant225-728068234522.europe-west1.run.app
GCP_PROJECT_ID=gen-lang-client-0439729178
GCP_REGION=europe-west1
GCP_SERVICE_NAME=FILANT225
